/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,300;1,500&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Game Styles  */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #989784;
    justify-content: center;
    font-family: Poppins, sans-serif;
}

#container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    font-size: 50px;
}

#gameBox {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
    margin: 40px 0 ;
}

#score {
    gap: 40px;
    font-size: 25px;
 }

.position {
    display: flex;
    height: 120px;
    width: 120px;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    background-color: rgb(108, 118, 127);
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(35, 32, 32);
    color: #ffffff;
    font-size: 18px;
    border: none;
}