/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Game Styles  */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #989784;
    justify-content: center;
    font-family: Lemon;
}

#container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    font-size: 50px;
}

#gameBox {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
    margin: 40px 0 ;
}

#score {
    gap: 40px;
    font-size: 25px;
    padding-top: 20px;
 }

.position {
    display: flex;
    height: 120px;
    width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: rgb(108, 118, 127);
    font-size: 50px;
    border-right: 6px solid;
    border-bottom: 6px solid;
}

/* Removes border right for each 3th child */
.position:nth-child(3n) {
    border-right: none;
}

/* Removes border bottom after 6th child */
.position:nth-child(6) ~ .position{
    border-bottom: none;
}

h2#gameStatus {
    padding-bottom: 20px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(35, 32, 32);
    color: #ffffff;
    font-size: 18px;
    border: none;
}

/* Media query: Mobiles (max 700px )*/
@media screen and (max-width: 700px) {

    h1 {
        font-size: 30px;
    }

    #score {
        gap: 40px;
        font-size: 19px;
        padding-top: 15px;
    }
    .position {
        height:87px;
        width: 80px;
    }
    
    div#gameBox {
    height: 281px;
    width: 240px;
    }

    h2#gameStatus {
        font-size: 20px;
        padding-bottom: 20px;
    }
}