* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #989784;
}

h1 {
    font-size: 50px;
}

#gameBox {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.position {
    display: flex;
    height: 120px;
    width: 120px;
    align-items: center;
    justify-content: center;
    background-color: rgb(108, 118, 127); 
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(35, 32, 32);
    color: #ffffff;
    font-size: 18px;
}